body{
	font-size: 25px;
	font-family: sans-serif;
    
}

#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgb(154, 47, 154);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 15px;
}

#roupas{
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 12px;
    
}

